In [ ]:
# default_exp core.data

In [ ]:
#hide
from nbdev.showdoc import *


# Sneaker Finder 

## Features module - "core.data"


# OVERVIEW

This is a project initiated while an Insight Data Science fellow.  It grew out of my interest in making data driven tools in the fashion/retail space I had most recently been working.   The original over-scoped idea was to make a shoe desighn tool which could quickly develop some initial sneakers based on choosing some examples, and some text descriptors.  Designs are constrained by the "latent space" defined (discovered?) by a database of shoe images.  However, given the 3 week sprint allowed for development, I pared the tool down to a simple "aesthetic" recommender for sneakers, using the same idea of utilizing an embedding space defined by the database fo shoe images.


Feature extractor: 
    1. embed database into feature space.
    2. evaluate/validate by simple logistic regression on classification.



## A: load databases / imagefile names to dataframes

## B: organize imagefiles into folders according to meta-data (category/source)


## C: splitters ... e.g. train, valid, test

In [ ]:
#hide
from fastbook import *
from fastai.vision.all import *


config = Config()

In [ ]:
# this should go into a utils or cfg module


#DATA_path = Path.home()/'Projects/DATABASE'
path_images = Path(config.d['data_path']+'/ut-zap50k-images')

IMG_SIZE_MD = 160
IMG_SIZE = IMG_SIZE_MD

ZAPPOS_DF_SIMPLIFIED = "zappos-50k-simplified_sort"

ZAPPOS_FEATS_ALL = "zappos-50k-mobilenetv2-features_"
ZAPPOS_FEATS_ALL_SORT = "zappos-50k-mobilenetv2-features_sort_3"

ZAPPOS_FEATS_MD = f"mobilenetv2-features_medium"

# Do Train Test Splits

In [ ]:
import os
from glob import iglob
from os.path import join,basename
import shutil
import random

# UPDATE - JAH, put all data into DATABASE 

data_path = './sneaks/data/' # path of the data
train_path = './train'
test_path = './test'
ldata_path = './data'
val_path = './validate'

df.loc[:,'train'] = 1
df.loc[:,'test'] = 0 
df.loc[:,'validate'] = 0

In [ ]:
## cat = df['path_and_file']

df.path_and_file.head(5)

0     [Shoes, Oxfords, Bostonian, 100627.72.jpg]
1    [Shoes, Oxfords, Bostonian, 100627.255.jpg]
2     [Shoes, Oxfords, Bostonian, 100657.72.jpg]
3    [Shoes, Oxfords, Bostonian, 100657.216.jpg]
4       [Boots, Mid-Calf, Durango, 101026.3.jpg]
Name: path_and_file, dtype: object

In [ ]:
#for file in iglob(join(data_path,'*')):
#for file( in iglob(join(train_path,'*')):

In [ ]:
if not os.path.exists(ldata_path):


    # create full set
    print('_'*30)
    print('Creating full local category set....')
    print('_'*30)


    for idx in df.index:
        save_path = join(ldata_path,df.loc[idx,'CategoryDir'])

        #print(save_path)
        if not os.path.exists(save_path):
            os.makedirs(save_path)
        img =  join(data_path,df.loc[idx,'path'])
        #print(img)
        shutil.copy2(img,save_path)

In [ ]:
# create test set
print('_'*30)
print('Creating full train set....')
print('_'*30)

for idx in df.index:
    save_path = join(train_path,df.loc[idx,'CategoryDir'])
    #print(save_path)
    if not os.path.exists(save_path):
        os.makedirs(save_path)
    img =  join(data_path,df.loc[idx,'path'])
    #print(img)
    shutil.copy2(img,save_path)

______________________________
Creating full train set....
______________________________

In [ ]:
# create test set
print('_'*30)
print('Creating test set....')
print('_'*30)

#instead of looking at the files, lets just use the database

for file in iglob(join(train_path,'*')):
#for file in df.path:
    save_path = join(test_path, basename(file))

    if not os.path.exists(save_path):
        os.makedirs(save_path)
    
    total_imgs = [x for x in iglob(join(file,'*'))]

    rand_amt = 2* 0.12 * len(total_imgs)  # select 24% of data from each category as testing + validation set
    print(rand_amt)
    test_imgs= []
    for i in range(int(rand_amt)):
        img = random.choice(total_imgs)
        if img not in test_imgs:
            #print(img)
            df.loc[df.Filename == basename(img),'train'] = 0
            df.loc[df.Filename == basename(img),'test'] = 1
            shutil.move(img,save_path)
            test_imgs.append(img)

______________________________
Creating test set....
______________________________
2264.16
3469.68
2492.88

In [ ]:
# create validation set
print('_'*30)
print('Creating validation set....')
print('_'*30)

#instead of looking at the files, lets just use the database
for file in iglob(join(test_path,'*')):
#for file in df.path:
    save_path = join(val_path, basename(file))

    if not os.path.exists(save_path):
        os.makedirs(save_path)
    
    total_imgs = [x for x in iglob(join(file,'*'))]

    rand_amt = 0.5 * len(total_imgs)  # select 50% of data from each category to split evenly between test and validation
    print(rand_amt)
    test_imgs= []
    for i in range(int(rand_amt)):
        img = random.choice(total_imgs)
        if img not in test_imgs:
            #print(img)
            df.loc[df.Filename == basename(img),'test'] = 0
            df.loc[df.Filename == basename(img),'validation'] = 1
            shutil.move(img,save_path)
            test_imgs.append(img)

______________________________
Creating validation set....
______________________________
1019.0
1538.5
1101.5

In [ ]:
        
# # create valisation set
# print('_'*30)
# print('Creating validation set....')
# print('_'*30)
      
# #instead of looking at the files, lets just use the database
# for file in iglob(join(train_path,'*')):
#             #for file in df.path:
#     save_path = join(val_path, basename(file))

#     if not os.path.exists(save_path):
#         os.makedirs(save_path)
    
#     total_imgs = [x for x in iglob(join(file,'*'))]

#     rand_amt = 0.12 * len(total_imgs)  # select 12% of data from each category as testing set
#     print(rand_amt)

In [ ]:

      
# save the simple file
summary_file ='train_test_val_Feb-06-2020.pkl'
df.to_pickle(summary_file)

In [ ]:

# save the simple file
summary_file ='train_test_val_Feb-06-2020.pkl'

df.to_pickle(summary_file)

# simplify data set to only include shoes, sneakers, and boots

In [ ]:
sum(df['Gender']=='Men;Boys;Women;Girls')  # ignore

4

In [ ]:
df.loc[:,'Sneakers'] = df['SubCategory.Sneakers.and.Athletic.Shoes'] == 1
df.loc[:,'Boots'] = (df.Category1 == 'Boots')
df.loc[:,'Shoes'] = (df.Category1 == 'Shoes') & (~df.Sneakers)#remove 
############
#remove ([ 'Boys',  'Boys;Girls', 'Girls','Women;Girls', 'Men;Boys;Women;Girls', nan
mens =  df['Gender'] == 'Men'       
womens =  df['Gender'] == 'Women' 
etc =  df['Gender'] =='Men;Women' 
df.loc[:, 'Adult'] = mens | womens | etc

## split shoes into athletic and "other"
## remove kids

In [ ]:
# make some expository columns 
#keep Adult, Sneakers, Boots, Shoes

keep_rows = (df.Sneakers | df.Boots | df.Shoes) & (df.Adult)



keep_columns = ['CID',
                 'Category',
                 'SubCategory',
                 'Gender',
                 'path',
                 'Sneakers',
                 'Boots',
                 'Shoes',
                 'path_and_file',
                 'Brand',
                 'Filename',
                 'image_features']


df = df.loc[df.index.intersection(keep_rows),:]

In [ ]:
df = df.filter(items=keep_columns)
df.tail()

In [ ]:
df

,CID,Category,SubCategory,Gender,path,Sneakers,Boots,Shoes,path_and_file,Brand,Filename
15747,7841044-325,Shoes,Loafers,Men,Shoes/Loafers/RJ Colt/7841044.325.jpg,False,False,True,"[Shoes, Loafers, RJ Colt, 7841044.325.jpg]",RJ Colt,7841044.325.jpg
15748,7841047-3,Shoes,Oxfords,Men,Shoes/Oxfords/RJ Colt/7841047.3.jpg,False,False,True,"[Shoes, Oxfords, RJ Colt, 7841047.3.jpg]",RJ Colt,7841047.3.jpg
15749,7841047-6,Shoes,Oxfords,Men,Shoes/Oxfords/RJ Colt/7841047.6.jpg,False,False,True,"[Shoes, Oxfords, RJ Colt, 7841047.6.jpg]",RJ Colt,7841047.6.jpg
15750,7841050-144,Boots,Mid-Calf,Boys;Girls,Boots/Mid-Calf/Old West Kids Boots/7841050.144...,False,True,False,"[Boots, Mid-Calf, Old West Kids Boots, 7841050...",Old West Kids Boots,7841050.144.jpg
15751,7841051-559,Boots,Knee High,Girls,Boots/Knee High/Old West Kids Boots/7841051.55...,False,True,False,"[Boots, Knee High, Old West Kids Boots, 784105...",Old West Kids Boots,7841051.559.jpg
...,...,...,...,...,...,...,...,...,...,...,...
50020,8168300-128,Shoes,Heels,Women,Shoes/Heels/J. Renee/8168300.128.jpg,False,False,True,"[Shoes, Heels, J. Renee, 8168300.128.jpg]",J. Renee,8168300.128.jpg
50021,8168300-742,Shoes,Heels,Women,Shoes/Heels/J. Renee/8168300.742.jpg,False,False,True,"[Shoes, Heels, J. Renee, 8168300.742.jpg]",J. Renee,8168300.742.jpg
50022,8168300-57113,Shoes,Heels,Women,Shoes/Heels/J. Renee/8168300.57113.jpg,False,False,True,"[Shoes, Heels, J. Renee, 8168300.57113.jpg]",J. Renee,8168300.57113.jpg
50023,8168300-384413,Shoes,Heels,Women,Shoes/Heels/J. Renee/8168300.384413.jpg,False,False,True,"[Shoes, Heels, J. Renee, 8168300.384413.jpg]",J. Renee,8168300.384413.jpg
50024,8169712-2557,Shoes,Sneakers and Athletic Shoes,Men,Shoes/Sneakers and Athletic Shoes/Travis Mathe...,True,False,False,"[Shoes, Sneakers and Athletic Shoes, Travis Ma...",Travis Mathew,8169712.2557.jpg

In [ ]:
# misnomer... don't actually have features yet...
# save the simple file
summary_file = f'./categories_with_features_{today:%b-%d-%Y}.pkl'
df.to_pickle(summary_file)

summary_file = f'./categories_with_features_{today:%b-%d-%Y}.json'
df.to_json(summary_file)

In [ ]:
# save the simple file
summary_file ='train_test_val_Jun-25-2020.pkl'
#df.to_pickle(summary_file)

json_summary_file ='train_test_val_Jun-25-2020.json'
#df.to_json(summary_file)  
df2 = pd.read_json(json_summary_file)

df = pd.read_json('categories_with_features_Jun-25-2020.json')

In [ ]:
df.path_and_file

0               [Shoes, Oxfords, Bostonian, 100627.72.jpg]
1              [Shoes, Oxfords, Bostonian, 100627.255.jpg]
2               [Shoes, Oxfords, Bostonian, 100657.72.jpg]
3              [Shoes, Oxfords, Bostonian, 100657.216.jpg]
4                 [Boots, Mid-Calf, Durango, 101026.3.jpg]
                               ...
50020            [Shoes, Heels, J. Renee, 8168300.128.jpg]
50021            [Shoes, Heels, J. Renee, 8168300.742.jpg]
50022          [Shoes, Heels, J. Renee, 8168300.57113.jpg]
50023         [Shoes, Heels, J. Renee, 8168300.384413.jpg]
50024    [Shoes, Sneakers and Athletic Shoes, Travis Ma...
Name: path_and_file, Length: 34278, dtype: object

In [ ]:
df.loc[:,'CategoryDir'] = 'Shoes'
df.loc[df.Boots==1,'CategoryDir'] = 'Boots'
df.loc[df.Sneakers==1,'CategoryDir'] = 'Sneakers'

In [ ]:
      
# save the simple file
summary_file ='train_test_val_Feb-06-2020.pkl'
#df.to_pickle(summary_file)

json_summary_file ='train_test_val_Feb-06-2020.json'
#df.to_json(summary_file)  
df2 = pd.read_json(json_summary_file)

df = pd.read_json('categories_with_features_Feb-05-2020.json')