In [ ]:
#default_exp core.data

## Scrapted database....  
We used process_scraped_data00.py to process all of our .json dumps... 

files are in 
goat\
sns\

AllPages.pkl - DATABASE 

each product page has a hshed filename.json and .jpeg stored here:
pages\ - individual pages
img\ - images... hashed

In [ ]:
#hide

In [ ]:
#hide

#!/usr/bin/env python

import sys
import pickle
import time
import os
import json

# import urllib.request
import hashlib
import glob


import pandas as pd
import numpy as np


###############

In [ ]:
os.getenv("HOME")

'/home/ergonyc'

In [ ]:
DB_ROOT = os.path.join(os.getenv("HOME"),"Projects/DATABASE")
# raw data is in Project2.0/SnkrScrpr path . linked to master DATABASE path

DB_PATH = os.path.join(DB_ROOT, "SnkrScrpr/data")

IMAGE_FOLDER = 'img'
PAGES_FOLDER = "pages"

# Create a simple database of "sneakers"

- images (need to access) path to fit beta-VAE 
- descriptions for fitting text autoencoder
- skip "meta" data (will come back to this later for further analysis.

In [ ]:


path = os.path.join(DB_PATH, "full_data.pkl")
df_scraped = pd.read_pickle(path)


# filename = "zappos-50k-simplified"
# this is in the local directory
filename = "zappos-50k-simplified_sort"
df_zappos = pd.read_pickle(f"data/{filename}.pkl")

In [ ]:
# load into pandas
attributes = df_scraped.attributes.values
description = df_scraped.description.values
df_scraped.head()

,url,hero,images,description,price_list,attributes,attributes_links,see_also_links,hero_fullpath
0,https://www.goat.com/sneakers/air-jordan-11-re...,99543f4630.jpg,[https://image.goat.com/crop/750/attachments/p...,"Released in December, the Air Jordan 11 Retro ...","[6M\n$395, 6.5M\n$495, 7M\n$560\n$605, 7.5M\n$...","[RELEASE DATE\n2012-12-21, SKU\n378037 010, BR...",[https://www.goat.com/sneakers/brand/air%20jor...,[],/Users/ergonyc/Projects/DATABASE/SnkrScrpr/dat...
1,https://www.goat.com/sneakers/yeezy-boost-700-...,3fbd48e729.jpg,[https://image.goat.com/crop/750/attachments/p...,The adidas Yeezy Boost 700 'Carbon Blue' is a ...,"[4M\n$395\nLOWEST PRICE, 4.5M\n$395\nLOWEST PR...","[RELEASE DATE\n2019-12-18, SKU\nFW2498, BRAND\...","[https://www.goat.com/sneakers/brand/adidas, h...",[],/Users/ergonyc/Projects/DATABASE/SnkrScrpr/dat...
2,https://www.goat.com/sneakers/sacai-x-ldv-waff...,6721456f62.jpg,[https://image.goat.com/crop/750/attachments/p...,The Sacai x LDWaffle fuses the Japanese label'...,"[3.5M\n$550\n$650, 4M\n$455\n$465, 4.5M\n$455\...","[RELEASE DATE\n2019-09-12, SKU\nBV0073 301, BR...","[https://www.goat.com/sneakers/brand/nike, htt...",[],/Users/ergonyc/Projects/DATABASE/SnkrScrpr/dat...
3,https://www.goat.com/sneakers/colin-kaepernick...,27fbbaad00.jpg,[https://image.goat.com/crop/750/attachments/p...,Made in collaboration with the athlete turned ...,"[4M\n$125\n$135, 4.5M\n$185, 5M\n$150\n$200, 5...","[RELEASE DATE\n2019-12-23, SKU\nCQ0493 001, BR...","[https://www.goat.com/sneakers/brand/nike, htt...",[],/Users/ergonyc/Projects/DATABASE/SnkrScrpr/dat...
4,https://www.goat.com/sneakers/travis-scott-x-a...,df16a19226.jpg,[https://image.goat.com/crop/750/attachments/p...,The Travis Scott x Air Jordan 6 Retro 'Olive' ...,"[6.5M\n$685, 7M\n$750\n$815, 7.5M\n$815\n$1,07...","[RELEASE DATE\n2019-10-11, SKU\nCN1084 200, BR...",[https://www.goat.com/sneakers/brand/air%20jor...,[],/Users/ergonyc/Projects/DATABASE/SnkrScrpr/dat...

In [ ]:
df_zappos.head()

,CID,Category,path,path_and_file,Category1,Category2,Filename,Sneakers,Boots,Shoes,Slippers,Adult,Gender,train,test,validate,t_t_v
0,7965307-5291,Boots,Boots/Ankle/A. Testoni/7965307.5291.jpg,"[Boots, Ankle, A. Testoni, 7965307.5291.jpg]",Boots,Ankle,7965307.5291.jpg,False,True,False,False,True,Men,True,False,False,train
1,7999255-363731,Boots,Boots/Ankle/A. Testoni/7999255.363731.jpg,"[Boots, Ankle, A. Testoni, 7999255.363731.jpg]",Boots,Ankle,7999255.363731.jpg,False,True,False,False,True,Men,True,False,False,train
2,8000978-364150,Boots,Boots/Ankle/A. Testoni/8000978.364150.jpg,"[Boots, Ankle, A. Testoni, 8000978.364150.jpg]",Boots,Ankle,8000978.364150.jpg,False,True,False,False,True,Men,False,True,False,test
3,8113228-1897,Boots,Boots/Ankle/AIGLE/8113228.1897.jpg,"[Boots, Ankle, AIGLE, 8113228.1897.jpg]",Boots,Ankle,8113228.1897.jpg,False,True,False,False,True,Women,True,False,False,train
4,8113228-1912,Boots,Boots/Ankle/AIGLE/8113228.1912.jpg,"[Boots, Ankle, AIGLE, 8113228.1912.jpg]",Boots,Ankle,8113228.1912.jpg,False,True,False,False,True,Women,True,False,False,train

In [ ]:
#infer:
#  Sneakers, Boots, Shoes, Slippers (Slides?), Category, Gender 

#fix hero_full_path

I need to put the scraped databases from SNS (sneakersnstuff.com) and GOAT (goat.com) into a dataframe with columns suitable merge with the UTZappos database I originally started with.   
I'll spend some time infering the `Category`, `Brand`, `Gender` (and `model`?) so I can pay attention to class balance .  From the transfer learning work, the `Slippers` category is pretty poor, but I should be able to use that net to label the scraped data... and validate based on the `attributes` and `see_also` fields.

First things first:  fix the "hero_fullpath" so its agnostic of OS (Mac or Linux).

In [ ]:

df_scraped.loc[:,"path"]=df_scraped.hero_fullpath.str.split('/').apply(lambda x: 'scraped/'+x[-3]+'/'+x[-1])

df_scraped["path"]

0       scraped/goat/99543f4630.jpg
1       scraped/goat/3fbd48e729.jpg
2       scraped/goat/6721456f62.jpg
3       scraped/goat/27fbbaad00.jpg
4       scraped/goat/df16a19226.jpg
                   ...
1333     scraped/sns/eb4f3eada8.jpg
1334     scraped/sns/5dace85f70.jpg
1335     scraped/sns/2a18731113.jpg
1336     scraped/sns/9cb275f3aa.jpg
1337     scraped/sns/6d6c0b7b97.jpg
Name: path, Length: 2337, dtype: object

In [ ]:
def extract_cat(lst):
    for l in lst:
        if l.startswith("CATEGORY"):
            return l.split("\n")[-1]
    return "na" #np.nan

def extract_brand_goat(lst):
    for l in lst:
        if l.startswith("BRAND"):
            return l.split("\n")[-1]
    return "na"

def extract_brand_sns(lst):
    return lst[1]

def extract_db_nm(pathn):
    return pathn.split('/')[0]

In [ ]:
df_scraped.loc[:,"brand"]=df_scraped.attributes.apply(extract_brand_sns)
df_scraped.loc[:,"cat"]=df_scraped.attributes.apply(extract_cat)

In [ ]:
# could also use the attributes_links to gextract stuff too
# note the sns attributes aren't as obvious...
df_scraped["attributes"].values[-5]
df_scraped["path"].values[0].split("/")[1]

'goat'

In [ ]:
df_scraped.loc[:,"db_name"]=df_scraped["path"].apply(extract_db_nm)

df_scraped.loc[df_scraped['db_name']=='goat',"brand"]=df_scraped.loc[df_scraped['db_name']=='goat',"attributes"].apply(extract_brand_goat)

In [ ]:
df_scraped.brand.value_counts()

Nike Sportswear     293
adidas Originals    224
Converse            119
Reebok              106
New Balance          78
                   ...
SKU\nCI1503 001       1
SKU\nCt2552 800       1
SKU\nAH7832 600       1
SKU\nEE7582           1
SKU\n305381 061       1
Name: brand, Length: 914, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

df = df_scraped.copy()
X = df.index
y = df.db_name  #

train_ratio = 0.70
validation_ratio = 0.15

# keep
test_ratio = 0.15

In [ ]:
# train is now 75% of the entire data set
# the _junk suffix means that we drop that variable completely
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=1 - train_ratio,stratify=y, random_state=666)

# test is now 10% of the initial data set
# validation is now 15% of the initial data set
x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio),stratify=y_test, random_state=666)

In [ ]:
# pack into the dataframe
df.loc[:,'train'] = False
df.loc[:,'test'] = False
df.loc[:,'validate'] = False
df.loc[:,'t_t_v'] = 'train'
df.loc[x_train,'train'] = True
df.loc[x_test,'test'] = True
df.loc[x_val,'validate'] = True
df.loc[x_test,'t_t_v'] = 'test'
df.loc[x_val,'t_t_v'] = 'valid'

In [ ]:
df.head()

df_scraped = df

In [ ]:
#df_test = pd.merge(df_zappos,df_scraped,how='left',on='path',suffixes=('_sm','_md'))

df_test = pd.merge(df_zappos,df_scraped,how='outer',on=['path','train','test','validate','t_t_v'])
df_scraped.shape
df_scraped.columns,df_zappos.columns,df_test.columns

df_scraped.shape,df_zappos.shape,df_test.shape
#df_test[["train","test","validate","t_t_v"]].head()

((2337, 17), (33229, 17), (35566, 29))

In [ ]:

sv_path = os.path.join(DB_PATH, "full_db.pkl")
df_test.to_pickle(sv_path)

sv_path = os.path.join("data", "full_db.pkl")
df_test.to_pickle(sv_path)

In [ ]:
DB_PATH

'/home/ergonyc/Projects/DATABASE/SnkrScrpr/data'